body{
    background-color:black;
    
}
.form-container{
    background-color: darkgray;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 260px;
    width: 100%;
    margin-left: 440px;
    margin-top: 240px;
}